.home {
  &__title {
    font-size: 48px;
    color: #CD201F;
  }

  &__search {
    padding: 80px 0;
  }

  .list-companies {
    padding: 80px 0;

    &__title {
      font-size: 36px;
      text-align: center;
    }

    &__desc {
      text-align: justify !important;
    }

    &__inner-button {
      margin-top: 30px;
    }
  }

  @media (max-width: 575.98px) {
    &__title {
      font-size: 36px;
    }

    .list-companies {

      &__title {
        font-size: 28px;
      }
    }
  }
}