.jobs-list {

  &__title {
    font-size: 36px;
  }

  @media (max-width: 575.98px) {

    &__title {
      font-size: 28px;
    }
  }
}

.job-info {
  padding: 80px 0;

  &__title {
    color: #CD201F;
    font-size: 36px; 
  }

  @media (max-width: 575.98px) {

    &__title {
      font-size: 28px;
    }
  }
}

.apply-form {
  padding: 80px 0;

  &__title {

    font-size: 36px;
  }

  @media (max-width: 575.98px) {

    &__title {
      font-size: 28px;
    }
  }
}